<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    {{>header}}
    <p>{{helpMsg}}</p>
    {{>footer}}
</body>
</html>
